.wrap {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.6rem;
  align-items: inherit;
}

.name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #7C9BA9;
  cursor: pointer;
  outline: none;
  transition: .2s;
}

.name:focus,
.name:hover {
  color: #145E94;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 10em;
  overflow: hidden;
  
}