.textarea {
  border:1px solid #AECAD5;
  box-sizing: border-box;
  border-radius: 2px;
  transition: .2s;
  padding: 12px 20px;
  outline: none;
  width: 100%;
  resize: vertical;
  min-height: 100px;
  font-size: 13px;
  line-height: 16px;
  color: #0E2A42;
}

.textarea::placeholder {
  color: #AECAD5;
}

.textarea:focus {
  border: 1px solid #237FC2;
}