.wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  align-items: start;
}

.item {
  display: grid;
  grid-template-columns: 1fr;  
  grid-gap: 3px;
}

.video {

}

.info {
  display: flex;
  justify-content: space-between;
  color: #7C9BA9;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.date {
  margin-right: 10px;
}

.extra {
  display: flex;
  align-items: center;
}

.extra span {
  margin: 0 10px 0 5px;
}

.extra span:last-child {
  margin-right: 0;
}

.author {
  color: #7C9BA9;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #0E2A42;
}