.wrap {
  position: relative;
}

.wrap a {
 text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7px;
}

.img {
  position: relative;
  height: 205px;
  border-radius: 2px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 100%;  
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
}

.play {
  position: absolute;  
}

.information {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;  
}

.datetime {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 13px;
  color: #0E2A42;
  font-weight: normal;
}

.author {
  font-size: 12px;
  color: #7C9BA9;
}

.editWrap {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 0;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.editMenu {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-color: #fff;
  padding: 17px 30px;
  right: -20px;
  box-shadow: 4px 4px 20px rgba(14, 76, 103, 0.25);
  top: 40px;
  z-index: 99;
}

.editMenu a {
  font-size: 13px;
  color: #7C9BA9;  
  text-decoration: none;
}