.wrap {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(14, 42, 66, 0.9);
  z-index: 999;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  padding: 70px;
  max-width: 425px;
  width: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .2s;
  outline: none;
}

.close:hover {
  transform: rotate(90deg);
}

.link {
  color: #237FC2;
  font-size: 13px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: normal;
  padding: 0 10px;
  min-width: auto;
}

.link:hover {
  text-decoration: none;
  color: #237FC2;
  font-size: 13px;
  background-color: transparent;
  border: none;  
  font-weight: normal;
}

.string {
  text-decoration: none;
  color: #7C9BA9;
  font-size: 12px;
  background-color: transparent;
  border: none;
  font-weight: normal;
  padding: 0;
  min-width: auto;
}

.string:hover {
  text-decoration: none;
  color: #7C9BA9;
  font-size: 12px;
  background-color: transparent;
  border: none;  
  font-weight: normal;
}
