.top_menu {
  grid-column: 1 / -1;
  font-size: 1.6rem;
}

.top_menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, auto));  
  grid-gap: 1rem;
  justify-content: space-between;
}