.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  align-content: start;
}

.infoLine {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, auto));
  grid-gap: 80px;
  justify-content: start;
}

.information {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 750px;
  width: 100%;
}
.raw {
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: start; 
}

.content {
  font-size: 13px;
  color: #222;
}