.wrap {
  position: relative;
  height: 205px;
  border-radius: 2px;
  overflow: hidden;
}

.wrap a:hover .description {
  background-color: rgba(14, 42, 66, 0.65);
}

.wrap a:hover .dark_line {
  display: none;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  bottom: 9px;
  background: rgba(14, 42, 66, 0.3);
  color: #fff;
  backdrop-filter: blur(3.08049px);
  padding: 10px 16px;
  width: 100%;
  transition: .5s;
}

.dark_line {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 13px;
  background-color: rgba(14, 42, 66, 0.65);
}

.light_text {
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 5px;
}

.title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}