.wrap {
  display: flex;
  justify-content: flex-end;
}

.search_form {
  display: flex;
  align-items: center;    
  max-width: 405px;
  width: 100%;
  height: 41px;
  padding: 0 2rem;
  background-color: #E9F3FA;
  border-radius: 2px;
  overflow: hidden;    
}

.search_form button {
  border: none;
  padding: 0;
  margin: 0 20px 0 0;
  background-color: transparent;
  outline: none;
}

.search_form input {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  color: #0E2A42;
}

.search_form input::placeholder {
  font-size: 1.3rem;
  color: #7C9BA9;
  font-weight: normal;
}

.gridfour {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  grid-gap: 20px;  
  min-height: 100px;
}

.gridLine {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  margin-right: 3rem;
  min-height: 100px;
}

.secondSearchContainer {
  margin-top: 70px;
}

.string {
  font-size: 13px;
  color: #0E2A42;
}