.wrap {
  display: grid;
  grid-template-columns: auto 600px;
  justify-items: start;
  justify-content: start;
  grid-gap: 17px;
  font-size: 1.3rem;
}

.label {
  color: #7C9BA9;
}

.body {
  display: flex;
  flex-wrap: wrap;
}

.body a {
  color: #237FC2;
  white-space: nowrap;
  margin-right: 17px;
  font-weight: 400;
}