.header {
  margin-bottom: 2.5rem;
}

.filter {

}

.main {
  position: relative;
  min-height: 50vh;
}

.experts {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 285px);
  grid-gap: 2rem;
  /* min-height: 500px; */
}
