.wrap_main {
  display: grid;
  grid-template-columns: 1fr;  
  grid-gap: 60px;
  margin-top: 55px;
  background-color: #FAFDFF;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0 10px;
  /* z-index: 5; */
  max-width: 1200px;
}

.container--small {
  max-width: 1016px;
}

footer {
  background-color: #0E2A42; 
}

.wrap_content {
  display: grid;
  grid-template-columns: 1fr 285px;
  grid-gap: 20px;
}

.content {
  position: relative;
}