.item {
  position: relative;
  font-weight: 500;
  text-decoration: none;
  color: #7C9BA9;
  transition: .2s;
}

.item:focus,
.item:hover,
.item.active {
  color: #145E94;
  outline: none;
}

.item::after {
  content: '';
  display: flex;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: #145E94;
  transition: .2s;
}

.item:hover:after,
.item.active::after {
  width: 85%;
}

.filterStyle {
  font-size: 16px;
}

.filterStyle.active:after {
  display: none;
}